In [1]:
import warnings as wr
wr.filterwarnings('ignore') # unnecessary item not show
import pandas as pd

In [2]:
df = pd.read_csv("supershops.csv")# csv file import

In [3]:
df.head()# csv file first 5 item show

   Marketing Spend  Administration  Transport     Area     Profit
0        114523.61       136897.80  471784.10    Dhaka  192261.83
1        162597.70       151377.59  443898.53      Ctg  191792.06
2        153441.51       101145.55  407934.54  Rangpur  191050.39
3        144372.41       118671.85  383199.62    Dhaka  182901.99
4        142107.34        91391.77  366168.42  Rangpur  166187.94

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Marketing Spend  50 non-null     float64
 1   Administration   50 non-null     float64
 2   Transport        49 non-null     float64
 3   Area             50 non-null     object
 4   Profit           50 non-null     float64
dtypes: float64(4), object(1)
memory usage: 2.1+ KB

In [5]:
from sklearn.preprocessing import RobustScaler

In [6]:
rbs = RobustScaler() #Creating object for RobustScaler

In [7]:
df["Marketing Spend"] = rbs.fit_transform(df[["Marketing Spend"]])

In [8]:
df.head()

   Marketing Spend  Administration  Transport     Area     Profit
0         0.672530       136897.80  471784.10    Dhaka  192261.83
1         1.452113       151377.59  443898.53      Ctg  191792.06
2         1.303634       101145.55  407934.54  Rangpur  191050.39
3         1.156567       118671.85  383199.62    Dhaka  182901.99
4         1.119836        91391.77  366168.42  Rangpur  166187.94

In [9]:
df["Administration"] = rbs.fit_transform(df[["Administration"]])

In [10]:
df.head()

   Marketing Spend  Administration  Transport     Area     Profit
0         0.672530        0.345355  471784.10    Dhaka  192261.83
1         1.452113        0.697565  443898.53      Ctg  191792.06
2         1.303634       -0.524290  407934.54  Rangpur  191050.39
3         1.156567       -0.097977  383199.62    Dhaka  182901.99
4         1.119836       -0.761543  366168.42  Rangpur  166187.94

In [11]:
df["Transport"] = rbs.fit_transform(df[["Transport"]])

In [12]:
df.head()

   Marketing Spend  Administration  Transport     Area     Profit
0         0.672530        0.345355   1.552016    Dhaka  192261.83
1         1.452113        0.697565   1.383714      Ctg  191792.06
2         1.303634       -0.524290   1.166654  Rangpur  191050.39
3         1.156567       -0.097977   1.017368    Dhaka  182901.99
4         1.119836       -0.761543   0.914576  Rangpur  166187.94

In [13]:
from sklearn.preprocessing import StandardScaler

In [14]:
std = StandardScaler()#Creating object for StandardScaler

In [15]:
df["Marketing Spend"] = std.fit_transform(df[["Marketing Spend"]])
df["Administration"] = std.fit_transform(df[["Administration"]])
df["Transport"] = std.fit_transform(df[["Transport"]])

In [16]:
df.head()

   Marketing Spend  Administration  Transport     Area     Profit
0         0.897913        0.560753   2.165287    Dhaka  192261.83
1         1.955860        1.082807   1.929843      Ctg  191792.06
2         1.754364       -0.728257   1.626191  Rangpur  191050.39
3         1.554784       -0.096365   1.417348    Dhaka  182901.99
4         1.504937       -1.079919   1.273550  Rangpur  166187.94

In [17]:
from sklearn.preprocessing import MinMaxScaler

In [18]:
mim = MinMaxScaler()#Creating object for MinMaxScaler

In [19]:
df["Marketing Spend"] = mim.fit_transform(df[["Marketing Spend"]])
df["Administration"] = mim.fit_transform(df[["Administration"]])
df["Transport"] = mim.fit_transform(df[["Transport"]])

In [20]:
df.head()

   Marketing Spend  Administration  Transport     Area     Profit
0         0.692617        0.651744   1.000000    Dhaka  192261.83
1         0.983359        0.761972   0.940893      Ctg  191792.06
2         0.927985        0.379579   0.864664  Rangpur  191050.39
3         0.873136        0.512998   0.812235    Dhaka  182901.99
4         0.859438        0.305328   0.776136  Rangpur  166187.94

In [21]:
from sklearn.preprocessing import MaxAbsScaler

In [22]:
mab = MaxAbsScaler()#Creating object for MaxAbsScaler

In [23]:
df['Marketing Spend'] = mab.fit_transform(df[["Marketing Spend"]])
df["Administration"] = mab.fit_transform(df[["Administration"]])
df["Transport"] = mab.fit_transform(df[["Transport"]])

In [24]:
df.head()

   Marketing Spend  Administration  Transport     Area     Profit
0         0.692617        0.651744   1.000000    Dhaka  192261.83
1         0.983359        0.761972   0.940893      Ctg  191792.06
2         0.927985        0.379579   0.864664  Rangpur  191050.39
3         0.873136        0.512998   0.812235    Dhaka  182901.99
4         0.859438        0.305328   0.776136  Rangpur  166187.94

In [25]:
df = pd.read_csv("supershops.csv")

In [26]:
x = df.drop("Profit", axis = 1)

In [27]:
x.head()

   Marketing Spend  Administration  Transport     Area
0        114523.61       136897.80  471784.10    Dhaka
1        162597.70       151377.59  443898.53      Ctg
2        153441.51       101145.55  407934.54  Rangpur
3        144372.41       118671.85  383199.62    Dhaka
4        142107.34        91391.77  366168.42  Rangpur

In [28]:
y = df["Profit"]

In [29]:
y.head()

0    192261.83
1    191792.06
2    191050.39
3    182901.99
4    166187.94
Name: Profit, dtype: float64

In [30]:
from sklearn.preprocessing import StandardScaler

In [31]:
std = StandardScaler()

In [32]:
#all column transform
for colum in x: 
    if x[colum].dtype == "float64":
        x[colum] = std.fit_transform(x[[colum]])

In [33]:
x.head()

   Marketing Spend  Administration  Transport     Area
0         0.897913        0.560753   2.165287    Dhaka
1         1.955860        1.082807   1.929843      Ctg
2         1.754364       -0.728257   1.626191  Rangpur
3         1.554784       -0.096365   1.417348    Dhaka
4         1.504937       -1.079919   1.273550  Rangpur

In [34]:
from sklearn.preprocessing import MinMaxScaler

In [35]:
mim = MinMaxScaler()

In [36]:
#all column transform
for colum in x:
    if x[colum].dtype == "float64":
        x[colum] = mim.fit_transform(x[[colum]])

In [37]:
x.head()

   Marketing Spend  Administration  Transport     Area
0         0.692617        0.651744   1.000000    Dhaka
1         0.983359        0.761972   0.940893      Ctg
2         0.927985        0.379579   0.864664  Rangpur
3         0.873136        0.512998   0.812235    Dhaka
4         0.859438        0.305328   0.776136  Rangpur

In [38]:
from sklearn.preprocessing import MaxAbsScaler

In [39]:
mab = MaxAbsScaler()

In [40]:
#all column transform
for colum in x:
    if x[colum].dtype == "float64":
        x[colum] = mab.fit_transform(x[[colum]])

In [41]:
x.head()

   Marketing Spend  Administration  Transport     Area
0         0.692617        0.651744   1.000000    Dhaka
1         0.983359        0.761972   0.940893      Ctg
2         0.927985        0.379579   0.864664  Rangpur
3         0.873136        0.512998   0.812235    Dhaka
4         0.859438        0.305328   0.776136  Rangpur

In [42]:
from sklearn.preprocessing import RobustScaler

In [43]:
rbu = RobustScaler()

In [44]:
#all column transform
for colum in x:
    if x[colum].dtype == "float64":
        x[colum] = rbu.fit_transform(x[[colum]])

In [45]:
x.head()

   Marketing Spend  Administration  Transport     Area
0         0.672530        0.345355   1.552016    Dhaka
1         1.452113        0.697565   1.383714      Ctg
2         1.303634       -0.524290   1.166654  Rangpur
3         1.156567       -0.097977   1.017368    Dhaka
4         1.119836       -0.761543   0.914576  Rangpur